.clientQuote-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 64px;
  gap: 12px;

  position: relative;
  width: 100%;
  height: 284px;
  background: #121212;
}

.clientQuote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 32px;

  position: absolute;
  width: 1312px;
  height: 102px;
}

.clientText {
  width: 1312px;
  height: 52px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

.clientInfo {
  width: 1312px;
  height: 18px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 410px) {
  .clientQuote-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 92px 32px;
    gap: 12px;

    width: 410px;
    height: 416px;
  }

  .clientQuote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 346px;
    height: 232px;
    left: 32px;
    top: 92px;
  }

  .clientText {
    width: 346px;
    height: 182px;
    line-height: 28px;
    text-align: center;
  }

  .clientInfo {
    width: 346px;
    height: 18px;
  }
}
