.carousel-mobile {
  display: none;
}

.client-cards-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: relative;
  width: 100%;
  height: 568px;
  background-color: #010101;
}

.client-card-set-one,
.client-card-set-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 32px;
  /* gap: 16px; */

  width: 100%;
  height: 568px;
  background-color: #010101;
}

.img-set-one img,
.img-set-two img {
  width: 100%;
  height: 568px;
}

.client-card-set-one .legends .title,
.client-card-set-two .legends .title {
  width: 656px;
  height: 96px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  text-align: start;
  color: #ffffff;
}

.client-card-set-one .legends .brand,
.client-card-set-two .legends .brand {
  width: 656px;
  height: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
  text-align: start;
}

div.read-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 104px;
  height: 16px;
}

.read-more a {
  width: 80px;
  height: 16px;
  text-decoration: none;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.read-more a:hover {
  text-decoration: underline;
  font-weight: 500;
  font-style: italic;
}

.read-more .btnDot {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 410px) {
  .client-card-set-one,
  .client-card-set-two {
    display: none !important;
  }

  .carousel-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 410px;
    height: 484.5px;
  }

  .img-set-three img {
    width: 410px;
    height: 484.5px;
  }

  .carousel-mobile .legends .title {
    display: flex;
    margin-bottom: 20px;
    width: 362px;
    height: 52px;
    text-align: left;

    font-size: 26px;
    line-height: 26px;
  }

  .carousel-mobile .legends .brand {
    float: left;
    width: auto;
    height: 16px;
    align-items: start;
    justify-content: start;

    font-size: 16px;
    line-height: 16px;
  }

  div.read-more {
    display: none;
  }

  .read-more a {
    display: none;
  }

  .read-more .btnDot {
    display: none;
  }
}
