.footer {
  position: absolute;
  width: 100%;
  height: 310px;
}

.footer-content {
  /* position: relative;
  width: auto;
  height: 310px;
   */
  background: #0e0e0e;
  position: absolute;
  left: 0%;
  right: 10%;
  top: 0%;
  bottom: 0%;
}

.arrow-up p {
  position: absolute;
  left: 103%;
  right: 0%;
  top: 59.68%;
  bottom: 30%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #5115f7;
}

.arrow-up img {
  position: absolute;
  left: 103.5%;
  right: 0.29%;
  top: 42.9%;
  bottom: 45.48%;
  cursor: pointer;
}

.footer-logo {
  position: absolute;
  left: 3.7%;
  right: 89.64%;
  top: 20.97%;
  bottom: 70.97%;
  padding-top: 8px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  position: absolute;
  width: 477px;
  height: 18px;
  left: 250.59px;
  top: 76px;
  list-style-type: none;
}

.footer-menu-link {
  padding: 5px 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  height: 18px;
  color: #ffffff;
  transition: background-color 0.7s linear;
  border-radius: 3px;
}

.footer-menu-link .active {
  border-bottom: 2px solid white;
  font-weight: 500;
}

.footer-menu-link:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
  font-weight: 500;
}

.footer-infos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 36px;

  position: absolute;
  left: 3.71%;
  right: 28.71%;
  top: 65.16%;
  bottom: 29.03%;
}

.footer-infos div {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #808080;
}

.copyright {
  position: absolute;
  left: 83.48%;
  right: 1.03%;
  top: 65.16%;
  bottom: 29.03%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: #808080;
}

hr {
  position: absolute;
  left: 2.95%;
  right: 2.9%;
  top: 50%;
  bottom: 50%;

  border: 1px solid #3e3e3e;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
