.hero-out {
  position: relative;
  width: 1440px;
  height: 628px;
}

.hero-img {
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 100%;
  /* background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  background: linear-gradient(
      358.53deg,
      rgba(0, 0, 0, 0.33) 1.79%,
      rgba(0, 0, 0, 0) 99.33%
    ),
    url(./design/clients-card/image0.png); */
}

.hero-title {
  position: absolute;
  left: 3.89%;
  right: 55.9%;
  top: 68.85%;
  bottom: 13.32%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 34px;
  color: #ffffff;
}

.hero-brand {
  position: absolute;
  left: 3.89%;
  right: 92.92%;
  top: 60.83%;
  bottom: 36.25%;

  /* XXS(Body) */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  /* FWhite */

  color: #ffffff;
}
