.hero-out {
  position: relative;
  width: 100%;
  height: 628px;
}

.hero-img {
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 100%;
  background: linear-gradient(
      358.53deg,
      rgba(0, 0, 0, 0.33) 1.79%,
      rgba(0, 0, 0, 0) 99.33%
    ),
    url(./design/clients-card/image0.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.hero-title {
  position: absolute;
  left: 3.89%;
  right: 55.9%;
  top: 68.85%;
  bottom: 13.32%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
  color: #ffffff;
}

.hero-title .target-1 {
  display: block;
  animation-name: moveInLeft;
  animation-duration: 4s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.hero-brand {
  position: absolute;
  left: 3.89%;
  right: 92.92%;
  top: 60.83%;
  bottom: 36.25%;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (max-width: 410px) {
  .hero-out {
    width: 410px;
    height: 415px;
  }

  .hero-img {
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .hero-title {
    position: absolute;
    width: 378px;
    left: calc(50% - 378px / 2);
    top: 59.52%;
    bottom: 5.3%;
    line-height: 37px;

    text-align: justify;
    padding-right: 30px;
  }

  .hero-brand {
    position: absolute;
    width: 46px;
    left: calc(50% - 46px / 2 - 166px);
    top: 47.95%;
    bottom: 48.19%;
  }
}
