.navbar {
  /* NavBar */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 426px;
  margin: 0px auto;

  position: relative;
  width: 1440px;
  height: 115px;
  background: #121212;
}

.nav-logo img {
  width: 88.04px;
  height: 25px;
}

.nav-menu.out {
  /* Frame 17 */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 96px;

  width: 815.4px;
  height: 18px;
}

/* .nav-menu.showMenu {
  width: 100%;
} */

.nav-menu {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  width: 689px;
  height: 18px;
}

.nav-link {
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  text-decoration-line: underline;

  /* FWhite */
  color: #ffffff;
}

.nav-menu-out .btn-menu {
  /* Vector */
  width: 30.4px;
  height: 8px;
  cursor: pointer;
  /* flex: none;
  order: 1;
  flex-grow: 0; */
  background: transparent;
}
