.dropdown {
  position: relative;
  width: 100%;
  height: 837px;
  background: #0c0c0c;
}

.big-menu-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.dropdown-left {
  position: absolute;
  width: 215px;
  height: 171px;
  background-color: #121212;
}

.dropdown-right {
  text-align: right;
  width: 100%;
  padding: 30px;
}

.dropdown-right ul {
  list-style: none;
  padding-left: 0 !important;
}

.dropdown-right ul li {
  border-bottom: 1px solid #a3a3a3;
  padding: 2px;
}

.dropdown-left ul li:hover::before {
  content: url("./design/Polygon.png");
  padding-right: 10px;
}

.dropdown-left-land {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.dropdown-left-item {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.dropdown-right-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 65px;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-right-link:hover {
  color: #ffffff;
}

.dropdown-right ul li:hover::before {
  content: "";
  padding-right: 50px;
  padding-top: 20px;
  background-image: url("./design/Polygon.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 410px) {
  .nav-menu-for-mobile .btn-menu {
    border: none;
    background: transparent;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-left: 222px;
    color: #0e0e0e;
    padding-top: 10px;
  }

  .big-menu-wrapper-for-mobile {
    position: relative;
    width: 410px;
    height: 800px;
    background-color: #0e0e0e;
  }

  .dropdown-right-for-mobile {
    text-align: right;
    width: 410px;
    padding: 5px;
    padding-top: 60px;
  }

  .dropdown-right-link-for-mobile {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #ffffff;
    text-decoration: none;
  }

  .dropdown-right-link-for-mobile:hover {
    color: #ffffff;
  }

  .dropdown-right-for-mobile ul li {
    border-bottom: 1px solid #a3a3a3;
    padding: 2px;
  }

  .dropdown-right-for-mobile ul li:hover::before {
    content: "";
    padding-right: 30px;
    padding-top: 4px;
    background-image: url("./design/Polygon.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
  }
}
