.dropdown-left.showIcon {
  background-image: url(./design/Polygon.png) no-repeat;
}

.dropdown {
  /* DesktopMenu */
  position: relative;
  width: 1440px;
  height: 837px;
  background: #0c0c0c;
}

.dropdown-left {
  /* Group 14 */
  position: absolute;
  width: 131px;
  height: 171px;
  left: 55px;
  top: 102px;
}

/* add symbol in front of the name */
/* .dropdown-left-item .active:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  margin-bottom: -20px;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.dropdown-left-item .active:focus:after {
  background-image: url(./design/Polygon.png) no-repeat;
} */

.dropdown-left-land {
  /* Landen */
  position: absolute;
  width: 55px;
  height: 16px;
  left: 55px;
  top: 102px;

  /* XXS(Body) */
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.5);
}
.dropdown-left-item {
  position: absolute;
  width: 91px;
  height: 18px;
  left: 76px;
  top: 145px;

  /* CTA(Book) */
  font-family: "Maison Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;

  /* FWhite */
  color: #ffffff;
}
